:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 12pt;

	color-scheme: light dark;
	background: #1c1b22;
	color: #fff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html, body, #app {
	width: 100vw;
	height: 100vh;

	margin: 0;
	padding: 0;

	overflow: hidden;
}

#app {
	display: flex;
}

#sidebar {
	display: flex;
	flex-direction: column;
	width: 250px;
	flex-grow: 0;
	flex-shrink: 0;
	border-right: 1px solid #fff5;
}

#sidebar > * {
	padding: 10px;
	border-bottom: 1px solid #fff1;
	flex-direction: column;
}

#sidebar > div {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

button, select, input {
	width: 100%;
	margin: 0;
}

input[type="checkbox"] {
	width: auto;
	margin-left: auto;
}

#viewport {
	width: 100%;
	background: #ffffff05;
}

#viewport-settings {
	position: absolute;
	left: 260px;
	top: 10px;

	display: flex;
	flex-direction: column;

	background: #1c1b22;
	border-radius: 5px;

	padding: 10px;
}

#viewport-settings > div {
	display: flex;
	justify-content: space-between;
}

#debug-canvas {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 99;
}